{% extends 'sneaker/base.html' %}
{% load static %}
{% block title %} NGO Registration {% endblock %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>NGO Registration</h3> <br>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                    {% if fm.name != 'password1' and fm.name != 'password2' %}
                        <div class="mb-3">
                            {{ fm.label_tag }} {{ fm }}
                        </div>
                        <div class="text-danger">{{ fm.errors|striptags }}</div>
                    {% endif %}
                {% endfor %}
                <div class="mb-3">
                    {{ form.password1.label_tag }} {{ form.password1 }}
                </div>
                <div class="text-danger">{{ form.password1.errors|striptags }}</div>
                <div class="mb-3">
                    {{ form.password2.label_tag }} {{ form.password2 }}
                </div>
                <div class="text-danger">{{ form.password2.errors|striptags }}</div>

                <input type="submit" value="Submit" class="btn btn-primary"> <br>

                <div class="text-center text-primary fw-bold">
                    <small>Existing User ? <a href="{% url 'login' %}" class="text-danger"> Login Now</a></small>
                </div>

                {% if form.non_field_errors %}
                    {% for errors in form.non_field_errors %}
                        <p class="alert alert-danger my-3"> {{ errors }}</p>
                    {% endfor %}
                {% endif %}

                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-{{ msg.tags }}" role="alert">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
